/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/*================== body ==========================*/
* {
	margin: 0;
	padding: 0;
}
#map {
	width: 50%;
	height: 50%;
	box-shadow: 0px 0px 200px #888888;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
}
/*================== header ========================*/
header {
	background-color: blue;
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 5px;
	box-shadow: 0px 5px 10px #212121;
/*	position: fixed;*/
	top: 0px;
	left: 0px;
	width: 100%;
}
nav {

}
ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
li a {
	display: block;
	color: white;
	font-size: 40px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: orange;
	color: blue;
}
#navLogo {
	height: 80px;
}