/* ==========================================

               HEX CODES
            WHITE : FEFEFE
            GOLD : FFE375
            GREEN : 95D84C
            LBLUE : 80E8FF
            DBlUE : 002361

============================================*/


body {
  background-color: #BBBBBB;
  color: black;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  width: auto;
  height: auto;
  background-color: #FEFEFE;
  margin:0px;
}

.logo{
  background-color: #80E8FF;
}

.navbar{
  height: 40px;
  padding: 16px;
  background-color: #002361;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar a{
  font-size:16px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.main-container{
  display: flex;
  height: auto;
  margin: auto;
  max-width: 1200px;
  background-color: #EEEEEE;
}

.main{
  align-content: center;
  height: auto;
  padding: 16px 0px 16px 0px;
}

.row{
  padding: 16px;
}

.about{
  height: auto;
  padding: 16px;
  margin: auto;
  background-color: black;
  display: inline-block;
}

.feature{
  max-width: 33%;
  border: 1px solid black;
  height: auto;
  align-content: center;
  margin: 16px;
}

.pricing{
  max-width: 33%;
  border: 1px solid black;
}

.footer{
  width: auto;
  height: 40px;
  background-color: #002361;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  bottom: 0px;
  color: white;
  padding: 10px;
}

.footer a{
  font-size:16px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: white;
}
