/* ==========================================

               HEX CODES
            WHITE : FEFEFE
            GOLD : FFE375
            GREEN : 95D84C
            LBLUE : 80E8FF
            DBlUE : 002361

============================================*/



body {
  background-color: #FEFEFE;
  color: black;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  width: auto;
  height: auto;
  background-color: #FEFEFE;
  margin:0px;
}

.logo{
  background-color: #80E8FF;
}

.navbar{
  height: 40px;
  background-color: #002361;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar a{
  font-size:16px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: white;
}

.footer-container{
  width: auto;
  height: auto;
  background-color: #002361;
  position: fixed;
  bottom: 0px;
  margin: 0px;
}

.footer{
  height: 40px;
  margin: 0px;
}

.footer a{
  font-size:16px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
